/*  author : DrummerHead  */

html {
  background-color: #000;
  font-size: 100%;
  height: 100%;
  color: #222;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
input,
button {
  font-family: Helvetica, sans-serif;
}
body {
  height: 100%;
  font-size: 2em;
  line-height: 1.4;
  margin: 0;
}
ol {
  width: 77%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  width: 22.7%;
  height: 20%;
  margin: 1%;
}
li:nth-child(1),
li:nth-child(2) {
  margin-top: 2%;
}
.search {
  width: 47.6%;
  height: 12%;
}
form {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
input,
button {
  border: 1px solid #222;
  background-color: #080808;
  color: #2a2a2a;
}
input {
  float: left;
  width: 87%;
  height: 98%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  text-indent: 2.25%;
}
aside {
  position: absolute;
  width: 7em;
  top: 100%;
  -webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
       -o-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
label {
  display: block;
  font-size: .5em;
  cursor: pointer;
}
li:nth-child(2n) aside {
  left: 100%;
}
li:nth-child(2n+1) aside {
  left: -940%;
}
input[type='checkbox'] {
  width: auto;
  height: auto;
  float: none;
}
:-moz-placeholder {
  color: #2a2a2a !important;
  text-indent: .4em;
}
::-webkit-input-placeholder {
  color: #2a2a2a;
  text-indent: .4em;
}
form div {
  float: right;
  width: 10%;
  height: 99%;
  position: relative;
}
button {
  width: 96%;
  height: 49%;
  margin: 0 0 6% 0;
  padding: 0;
  vertical-align: top;
  font-size: .7em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
input:hover,
button:hover {
  background-color: #191919;
  color: #3b3b3b;
  border-color: #333;
}
input:focus,
button:focus {
  color: #eee;
  background-color: #000;
}
.go {
}
.get {
  margin: 0;
}
a {
  display: block;
  width: 90%;
  height: 80%;
  border: 1px solid #222;
  padding: 5%;
  color: #222;
  text-decoration: none;
  outline: none;
}
a:visited {
  color: #222;
}
a:hover {
  color: #333;
  background-color: #111;
  border-color: #333;
}
a:focus,
button:active {
  color: #777;
  border-color: #777;
  background-color: #000;
}

@media (max-width: 1280px) {
  html {
    color: #333;
  }
  a,
  input,
  button {
    border-color: #333;
  }
  input,
  button {
    color: #333;
    background-color: #111;
  }
  input:hover,
  button:hover {
    background-color: #222;
    color: #444;
    border-color: #444;
  }
  a {
    color: #2a2a2a;
    background-color: #080808;
  }
  a:visited {
    color: #2a2a2a;
  }
  a:hover {
    background-color: #111;
    color: #333;
    border-color: #444;
  }
  input:focus {
    color: #eee;
    background-color: #000;
  }
  ::-webkit-input-placeholder {
    color: #2a2a2a;
  }
}

@media (max-width: 1170px) {
  ol {
    width: 97%;
  }
}
@media (max-width: 930px) {
  body {
    font-size: 1.5em;
  }
}
@media (max-width: 700px) {
  body {
    font-size: 1em;
  }
  li {
    width: 22.3%
  }
  .search {
    width: 47%;
  }
  input {
    height: 98%;
  }
}
@media (max-width: 487px) {
  li {
    width: 47%;
    height: 10%;
  }
  .search {
    height: 11%;
  }
  input {
    width: 100%;
  }
  form div {
    display: none;
  }
  a {
    width: 94%;
    height: 74%;
    padding: 3%;
  }
}
